<div class="password-box" >
    <div class="inner-block">
        <form>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" ng-model="password" class="form-control" id="password" autofocus>
            </div>
            <button class="btn btn-primary" type="submit" ng-click="changeSecurityClearance(password, level)">Submit</button>
            <a class="btn btn-danger" ng-click="closeBox()">Cancel</a>
        </form>
    </div>
</div>

