
<nav class="custom-navbar" ng-controller="NavbarController as NavbarCtrl">
    <div class="inner-block">
        <div class="custom-left-menu">

            <div class="custom-wrapper-button-collapse-folders">
                <button ng-click="base.toggleCollapseFolders()" ng-class="{
                            'active':!base.foldersCollapsed}" type="button" class="btn btn-default btn-md custom-button-collapse-folders">
                    <!--<fa name="folder-open"></fa>-->
                    <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                </button>
            </div>

            <div class="custom-wrapper-logo-link">
                <!--<a ui-sref="dashboard" class="logo-link">CRYPT</a>-->
                <a ui-sref="dashboard" class="logo-link">
                    <img class="logo-image" src="assets/images/logo.png">
                    <p>CRYPT</p>
                </a>
            </div>
        </div>

        <div class="bookmarks-form-block">

            <form  name="new_bookmark">
                <div class="input-group">
                    <input  ng-model="NavbarCtrl.newBookmark.url" name="url" class="form-control" id="name" placeholder="URL" required>
                    <div class="input-group-btn">
                        <button class="btn btn-default submit-button" type="submit" ng-click="
                            new_bookmark.url.$valid &&
                                    NavbarCtrl.store(NavbarCtrl.newBookmark)">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </button>
                        <div class="btn-group import-button" uib-dropdown keyboard-nav>
                            <button id="simple-btn-keyboard-nav " type="button" class="btn btn-default" uib-dropdown-toggle>
                                Import
                                <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                            </button>
                            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="simple-btn-keyboard-nav">
                                <li  role="menuitem"><a ng-click="NavbarCtrl.openImportHtml()" href>HTML file</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="right-nav">

            <!-- Split button -->
            <!--            <div class="btn-group security-dropdown" uib-dropdown>
                            <a class="btn btn-default" href id="security-dropdown" uib-dropdown-toggle>
                                <fa ng-if="base.currentSecurityClearance == 0" name="unlock"></fa>
                                <fa ng-if="base.currentSecurityClearance == 1" name="lock"></fa>
                                {{ base.currentSecurityClearanceName}}
                            </a>
                            <button type="button" class="btn btn-primary dropdown-toggle" uib-dropdown-toggle>
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="security-dropdown">
                                <li><a ng-click="base.changeSecurityClearance(0)" href><fa name="unlock"></fa>Public</a></li>
                                <li><a ng-click="base.changeSecurityClearance(1)" href><fa name="lock"></fa>Private</a></li>
                            </ul>
                        </div>-->

            <bs-switch
                ng-model ="NavbarCtrl.switchSecurityClearance"
                type="checkbox"
                switch-size="normal"
                switch-label="Private"
                switch-on-text="ON"
                switch-off-text="OFF"
                switch-icon="fa fa-unlock"
                switch-wrapper="security-switch"
                ng-change="NavbarCtrl.changeSecurityClearance(NavbarCtrl.switchSecurityClearance)"
                ></bs-switch>

            <div ng-if="authenticated" class="profile-dropdown btn-group" uib-dropdown>
                <a class="btn btn-default" href id="simple-dropdown" uib-dropdown-toggle>
                    <fa name="user"></fa>
                    {{ currentUser.f_name}}
                </a>
                <button type="button" class="btn btn-primary dropdown-toggle" uib-dropdown-toggle>
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu-right" uib-dropdown-menu aria-labelledby="simple-dropdown">
                    <li><a ui-sref="settings">Settings</a></li>
                    <li class="divider"></li>
                    <li><a ng-click="NavbarCtrl.logout()" href>Logout</a></li>
                </ul>
            </div>
        </div>


    </div>
</nav>