<div class="left-nav-block">
    <!--    <div class="filters-block">
            <h3>FILTERS</h3>
            <div class="item" ng-class="{'custom-active' : DashCtrl.currentFolder == null}" >Most Recent</div>
            <div class="item" ng-class="{'custom-active' : DashboardFoldersCtrl.currentFolder == null}" >Most Visited</div>
        </div>-->
    <div class="folders-block">
        <h3>FOLDERS</h3>
        <button type="button" class="btn btn-danger add-folder" ng-click="DashboardFoldersCtrl.storeFolder()">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>

        <div class="folders-list">
            <div class="item" ng-class="{'custom-active' : DashboardFoldersCtrl.currentFolder == null}" ng-click="DashCtrl.index(1, {id: folder.id}, DashCtrl.orderBy, DashCtrl.orderByAttribute)">All</div>
            <div ng-repeat="folder in DashboardFoldersCtrl.folders" class="utility-block">
                <div class="item"
                     ng-class="{'custom-active' : DashboardFoldersCtrl.currentFolder.id == folder.id}"
                     ng-click="DashCtrl.index(1, {id: folder.id}, DashCtrl.orderBy, DashCtrl.orderByAttribute)">{{ folder.name}}
                </div>
                <span class="glyphicon glyphicon-cog custom-edit-folder" ng-click="DashboardFoldersCtrl.editFolder(folder)"></span>
                <span class="glyphicon glyphicon-trash custom-delete-folder" ng-really-message="Are you sure you want to delete this folder , all the bookmarks inside will be deleted as well ?" ng-really-click="DashboardFoldersCtrl.deleteFolder(folder)"></span>
            </div>
        </div>
    </div>

</div>